<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    
    <% if(locals.nombre) { %>
        <div class="alert alert-primary d-flex p-2 bd-highlight justify-content-center" role="alert">
            <p id="userHello">Bienvenido nuevamente <%- nombre %> </p>
            <form action="/api/users/logout" method="POST">
                <button type="submit" class="btn btn-primary">Desloguearme</button>
            </form>
        </div>
    <% } %>


    <div class="container border">
    
    <form 
        action="/productos"
        method="post"
        enctype="multipart/form-data"
    >
        <div class="mb-3">
            <label for="title" class="form-label">Nombre del producto</label>
            <input id="title" class="form-control" name="title" type="text" >
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Precio del producto</label>
            <input id="number" class="form-control" name="price" type="number">
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Link de la imagen del producto</label>
            <input id="thumbnail" class="form-control" name="thumbnail" type="text">
        </div>
        <input type="submit" id="emitirProducto">
    </form>

      

        <table class="table table-striped">
            <thead>
                <th class="col">Nombre</th>
                <th class="col">Precio</th>
                <th class="col">Foto</th>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <h1 class="centrar">Centro de mensajes Mini chat abajo</h1>
    <div class="form-mensajes">
        

        <form>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input id="Email" class="form-control" name="Email" type="email" required >
            </div>
            <div class="mb-3">
                <label for="Nombre" class="form-label">Nombre</label>
                <input id="Nombre" class="form-control" name="Nombre" type="text" required >
            </div>
            <div class="mb-3">
                <label for="Apellido" class="form-label">Apellido</label>
                <input id="Apellido" class="form-control" name="Apellido" type="text" required >
            </div>
            <div class="mb-3">
                <label for="Edad" class="form-label">Edad</label>
                <input id="Edad" class="form-control" name="Edad" type="text" required >
            </div>
            <div class="mb-3">
                <label for="Alias" class="form-label">Alias</label>
                <input id="Alias" class="form-control" name="Alias" type="text" required >
            </div>
            <div class="mb-3">
                <label for="Avatar" class="form-label">Avatar</label>
                <input id="Avatar" class="form-control" name="Avatar" type="text" required >
            </div>
            <div class="mb-3">
                <label for="inputMensaje" class="form-label">Mensaje</label>
                <input id="inputMensaje" class="form-control" name="inputMensaje" type="text" required >
            </div>
            <button type="submit" id="emitirMensaje">Enviar mensaje</button>
        </form>
      
    </div>
    <div class="form-mensajes">
        <div id="mensajes" class="contenedor-mensajes">

        </div>
    </div>
   


   <script src='/socket.io/socket.io.js'></script>
    <script src="./index.js"></script>
</body>
</html>