<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css">
    <title>USERS LOGUIN</title>
</head>
<body>
    <% if(locals.error) { %>
        <div class="alert alert-danger" role="alert">
            <p class="text-center">Las credenciales ingresadas son invalidas</p>
        </div>
    <% } %>

    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <form action="/api/users/login" method="POST">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form1Example13" class="form-control form-control-lg" name="nombre">
                  <label class="form-label" for="form1Example13">Nombre</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form1Example23" class="form-control form-control-lg"  name="password"/>
                  <label class="form-label" for="form1Example23">Contraseña</label>
                </div>
      
                <div class="d-flex justify-content-around align-items-center mb-4">
                  <!-- Checkbox - REMEMBER ME -->
                  <div class="form-check">
                    <!--<input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="form1Example3"
                      checked
                    />
                    <label class="form-check-label" for="form1Example3"> Remember me </label> -->
                  </div>
                  <!--FORGOY PASSWORD: <a href="#!">Forgot password?</a>-->
                </div>
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </section>      
</body>
</html>